# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environment
venv/
.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Build files
dist/
build/

# Temporary files
*.tmp
